html,
body,
#root {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

/* globals.css ou arquivo CSS importado */
.transition-text {
  transition-property: opacity, max-width, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 1000ms;
}

.transition-text.quick-exit {
  transition-duration: 150ms;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


/* STARS ANIMATION */
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}

@keyframes shoot {
  0%   { transform: translateX(0)   translateY(0)  rotate(25deg); opacity: 0; }
  10%  { opacity: 1; }         /* acende logo no início */
  90%  { opacity: 1; }         /* fica visível por quase todo o percurso */
  100% { transform: translateX(120vw) translateY(50vh) rotate(25deg); opacity: 0; }
}
